<h2>Create Your Account:</h2>
<h2><%=@error%></h2>
<form action='/signup' method=POST>
    Username:<input type='text' name="username" id="username">
    Password:<input type='text' name="password" id="password">
    Email:<input type='text' name = "email" id= "email">
    <input type="submit" value="Sign Up">
</form>